* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
}

.ConteudoEsquerdo {
  background: #fcfcfc;
  height: 100vh;
  width: 15vw;
}

.ConteudoDireito{
  background: #ccc;
  height: 100vh;
  width: 70vw;
}

.ConteudoCentral{
  background: #333;
  height: 100vh;
  width: 15vw;
}